/*
Paleta generada en http://www.cssdrive.com/imagepalette/index.php 
usando la imagen http://img4.wikia.nocookie.net/__cb20050529171058/whitewolf/images/d/d6/Logo_Changeling_Dreaming.gif
*/

.color1 { color: #6699cc}
.color2 { color: #66ccff}
.color3 { color: #000000}
.color4 { color: #ffffff}
.color5 { color: #ffcc66}
.color6 { color: #cc3333}
.color7 { color: #ff9933}
.color8 { color: #333300}
.color9 { color: #cc3300}
.color10 { color: #663300}
.color11 { color: #ffcc00}
.color12 { color: #ffcc33}
.color13 { color: #cc6600}
.color14 { color: #996633}
.color15 { color: #333333}
.color16 { color: #ff9900}
.color17 { color: #666600}
.color18 { color: #cccccc}
.color19 { color: #ccffcc}
.color20 { color: #cc9966}
.color21 { color: #0000ff}
.color22 { color: #006699}
.color23 { color: #99cccc}
.color24 { color: #000066}

[contenteditable] {
  border: 1px solid black;
  background-color: white;
  min-height: 20px;
}
.ng-invalid {
  border: 1px solid red;
}
.elemento {
  padding:1px 1px 1px 3px;
  margin:1px 1px 1px 3px;
  background:#6699cc;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius:4px; 
  border-bottom-left-left:4px;
  -moz-border-radius-topleft:4px;
  -webkit-border-top-left-radius:4px;  
  border-top-left-radius:4px;  
}

.etiqueta {
  padding:0 1px 0 3px;
  background:#ff9933;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius:4px; 
  border-bottom-left-left:4px;
  -moz-border-radius-topleft:4px;
  -webkit-border-top-left-radius:4px;  
  border-top-left-radius:4px;  
}

.seleccionado.elemento {
  background:#000066;
}

.seleccionado.etiqueta {
  background:#cc3300;
}


#medio {
float: left;
width: 70%;
}

#costado {
float: right;
width: 30%;
}

.modal {
  background:#fff;
  left:50%;
  margin:-250px 0 0 -40%;
  position:absolute;
  top:100%;
  width:80%;
  border-radius:5px;
  box-shadow:0 3px 7px rgba(0,0,0,.25);
  -moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
  -webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
  /* Make the modal appear when targeted */
  .modal:target {
    top:50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
.modal header,.modal footer {
  background:#f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
  .modal footer {
    border:none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
  }
.modal section,.modal header, .modal footer {
  padding:15px;
  z-index:200;
}
.modal h2 {
  margin:0;
}
.modal .btn {
  float:right;
}

